.bg-box {
    background: green;
    width: 900px;
    height: 700px;
    background-image: url("./pole-zelen-trava-dom-derevya.webp"), url("./green-png-44873.png"), url("./lamp-png-34914.png"), url("./3F3F.webp"), url("./58eb07b830eab15b56162788.png");
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
    background-position: center, bottom, top, left, right;
    background-size: 500px, 300px, 50px, 50px, 50px;
}